@model IEnumerable<Room>
@{
    ViewBag.Title = "Odalar";
    Layout = "~/Areas/HotelManegement/Views/Shared/_HMHLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Yeni Oda Ekle", "Create")
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralStatus)
            </th>
            <th>
                <i class="glyphicon glyphicon-pencil"></i> <i class="glyphicon glyphicon-trash"></i> Düzen/Sil
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>
                    <img src="@room.ImagePath" style="width:50px; height:50px" />
                </td>
                <td>@room.RoomNumber</td>
                <td>@room.Capacity</td>
                <td>@room.RoomStatus</td>
                <td>@room.RoomTypes</td>
                <td>@room.GeneralStatus</td>

                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = room.ID }) <i class="glyphicon glyphicon-pencil"></i> |
                    @Html.ActionLink("Sil", "Delete", new { id = room.ID }) <i class="glyphicon glyphicon-trash"></i>
                </td>
            </tr>
        }
    </tbody>
</table>