@model IEnumerable<Employee>
@{
    ViewBag.Title = "Personel";
    Layout = "~/Areas/HotelManegement/Views/Shared/_HMHLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Yeni Personel Ekle", "Create")
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkstraHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralStatus)
            </th>
            <th>
                <i class="glyphicon glyphicon-pencil"></i> <i class="glyphicon glyphicon-trash"></i> Düzen/Sil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    <img src="@emp.ImagePath" style="width:50px; height:50px" />
                </td>
                <td>@emp.TCNO</td>
                <td>@emp.FirstName</td>
                <td>@emp.SurName</td>
                <td>@emp.Gender</td>
                <td>@emp.EmailAddress</td>
                <td>@emp.Address</td>
                <td>@emp.Role</td>
                <td>@emp.BirthPlace</td>
                <td>@emp.BirthDate.ToShortDateString()</td>
                <td>@emp.HourlyPay</td>
                <td>@emp.Hours</td>
                <td>@emp.EkstraHours</td>
                <td>@emp.Days</td>
                <td>@emp.TotalPay</td>
                <td>@emp.Paid</td>
                <td>@emp.Shift</td>
                <td>@emp.GeneralStatus</td>

                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = emp.ID }) <i class="glyphicon glyphicon-pencil"></i> |
                    @Html.ActionLink("Sil", "Delete", new { id = emp.ID }) <i class="glyphicon glyphicon-trash"></i>
                </td>
            </tr>
        }
    </tbody>

</table>