@model IEnumerable<Room>
@{
    ViewBag.Title = "Oda Seçimi";
    Layout = "~/Areas/BookingC/Views/Shared/_BookingCLLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralStatus)
            </th>
            <th>
                <i class="glyphicon glyphicon-star"></i> Odayı Seç
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>
                    <img src="@room.ImagePath" style="width:50px; height:50px" />
                </td>
                <td>@room.RoomNumber</td>
                <td>@room.Capacity</td>
                <td>@room.RoomStatus</td>
                <td>@room.RoomTypes</td>
                <td>@room.GeneralStatus</td>

                <td>
                    @Html.ActionLink("Seç", "Create", new { RoomID = room.ID, InDate = TempData["InDate"], OutDate = TempData["OutDate"], CostomerCount = TempData["CostomerCount"] }) <i class="glyphicon glyphicon-star"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
